@import '@/charts/table/styles/color.scss';
@import '../sections/constants.scss';
@import '@/charts/table/styles/icons.scss';

.component {
  width: 250px;
  max-width: 250px;
  padding-bottom: 25px;
  background: $ATHENS_GRAY_LIGHT;
  height: '100%';
  display: block;
}
