$ATHENS_GRAY_DARK: #edeef1;
$ATHENS_GRAY_DARK2: #e3e5ea;
$ATHENS_GRAY_LIGHT: #f9f9fb;
$ATHENS_GRAY: #f4f4f8;
$CHARADE: #272a34;
$HALF_AND_HALF: #ffffde;
$MERCURY: #e5e5e5;
$OXFORD_BLUE: #3a4356;
$PALE_CANERY: #ffff9c;
$SHUTTLE_GRAY_DARK: #5b6372;
$SILVER: #bbbbbb;
$WILD_SAND: #f5f5f5;
$WHITE: #ffffff;
