[class|='csdk'],
[class|='csdk']::before,
[class|='csdk']::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #d5d5d5;
  font-family: inherit;
}

.csdk-accessible button:focus-visible,
.csdk-accessible a:focus-visible,
.csdk-accessible textarea:focus-visible,
.csdk-accessible select:focus-visible,
.csdk-accessible input:focus-visible,
.csdk-accessible [tabindex]:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.csdk-accessible .MuiTouchRipple-root {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
