[class|='csdk'],
[class|='csdk']::before,
[class|='csdk']::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #d5d5d5;
  font-family: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
