[class|='csdk'],
[class|='csdk']::before,
[class|='csdk']::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #d5d5d5;
  font-family: inherit;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
