@import '@/charts/table/styles/color.scss';
@import '@/charts/table/styles/icons.scss';

.line {
  background-image: $LINE_CHART_NO_RESULT;
  max-width: 315px;
  max-height: 320px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pie {
  background-image: $PIE_CHART_NO_RESULT;
  max-width: 205px;
  max-height: 266px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.indicator {
  background-image: $INDICATOR_CHART_NO_RESULT;
  max-width: 200px;
  max-height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.column {
  background-image: $COLUMN_CHART_NO_RESULT;
  max-width: 198px;
  max-height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bar {
  background-image: $BAR_CHART_NO_RESULT;
  max-width: 229px;
  max-height: 242px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.table {
  background-image: $TABLE_CHART_NO_RESULT;
  max-width: 221px;
  max-height: 233px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.pivot {
  background-image: $PIVOT_CHART_NO_RESULT;
  max-width: 221px;
  max-height: 233px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.area {
  background-image: $AREA_CHART_NO_RESULT;
  max-width: 242px;
  max-height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
