@import '@/charts/table/styles/color.scss';
@import './constants.scss';
@import '@/charts/table/styles/icons.scss';

.title {
  padding-top: 15px;
  margin-left: 20px;
  margin-bottom: 7px;
  font-size: 13px;
  color: $OXFORD_BLUE;
}

.table {
  margin-left: 13px;
  width: 226px;
  height: 70px;
  box-sizing: border-box;
  border: 1px solid $ATHENS_GRAY_DARK2;
  background: white;
  td {
    width: 50%;
    border-right: 1px solid $ATHENS_GRAY_DARK2;
    cursor: pointer;
    &.hoverEffect {
      &:hover {
        background-color: $PALE_CANERY;
        .numeric {
          opacity: 1;
        }
        .gauge {
          opacity: 1;
        }
      }
    }
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numeric {
  font-size: 16px;
  margin-top: 5px;
  font-variant-numeric: proportional-nums;
  opacity: 0.3;
  &.selected {
    opacity: 1;
  }
}

.numericText {
  margin-top: 5px;
}

.gauge {
  width: 43px;
  height: 18px;
  background-image: $SMOOTH_LINE;
  margin-top: 4px;
  opacity: 0.3;
  &.selected {
    opacity: 1;
  }
}

.gaugeText {
  margin-top: 8px;
}
