@import '@/charts/table/styles/color.scss';
@import './constants.scss';
@import '@/charts/table/styles/icons.scss';

.legendTable {
  margin-left: 13px;
  box-sizing: border-box;
  border: 1px solid $ATHENS_GRAY_DARK2;
  border-radius: 4px;
  background: white;
  width: 226px;
}

.radio {
  cursor: pointer;
  height: 25px;
  padding-left: 5px;
  &:hover {
    background-color: $PALE_CANERY;
  }
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: normal;
  color: rgb(91, 99, 114);
}
