@import '@/charts/table/styles/color.scss';
@import './constants.scss';
@import '@/charts/table/styles/icons.scss';

.title {
  padding-top: 15px;
  margin-left: 20px;
  margin-bottom: 7px;
  font-size: 13px;
  color: $OXFORD_BLUE;
}

.table {
  margin-left: 13px;
  width: 226px;
  height: 75px;
  box-sizing: border-box;
  border: 1px solid $ATHENS_GRAY_DARK2;
  background: white;
  td {
    border-right: 1px solid $ATHENS_GRAY_DARK2;
    width: 33%;
    cursor: pointer;
    &.hoverEffect {
      &:hover {
        background-color: $PALE_CANERY;
        .icon {
          opacity: 1;
        }
      }
    }
    &.selected {
      .icon {
        opacity: 1;
      }
    }
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center center;
}

.classic {
  background-image: $PIE_CLASSIC;
}

.donut {
  background-image: $PIE_DONUT;
}

.ring {
  background-image: $PIE_RING;
}
