@import '@/charts/table/styles/icons.scss';

.component {
  display: inline-block;
}

.switcher {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image: $TOGGLE_ON;
}

.inactive {
  width: 24px;
  height: 24px;
  background-image: $TOGGLE_OFF;
}

.disabled {
  opacity: 0.5;
}
