.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.title {
  font-size: 18px;
  color: #9ea2ab;
  text-align: center;
  letter-spacing: normal;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 11%;
}

.image {
  width: 66.6%;
  height: 100%;
  margin: 0 auto;
  display: block;
}
