.alert_box {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-top: 1%;

  .content {
    background-color: #616161;
    padding: 5px;
    border-radius: 3px;
    text-align: center;

    .alert {
      color: white;
      margin: 0 8px;
      line-height: 1;
      font-size: 12px;
    }
  }
}
