@import 'color';
@import 'icons';
@import 'fixed_data_table_custom';

.tableWrapper {
  height: 100%;
  width: 100%;
  @extend %fixed_data_table_custom;
  user-select: text;
}

.table {
  background: transparent;
  font-size: 13px;
  border: none;
}

.tableHeader {
  color: $SHUTTLE_GRAY;
  background-color: transparent;
  margin: 0px;
  border: none;
  width: 100%;
  overflow: hidden;
}

.tableCell {
  color: $SHUTTLE_GRAY;
  background-color: transparent;
  border: none;
  border-right: 1px solid $ATHENS_GRAY_DARK;
  border-bottom: 1px solid $ATHENS_GRAY_DARK;
  overflow: hidden;
  width: 100%;
}

.tableCellContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 10;
}

.headerColor {
  background-color: $ATHENS_GRAY_LIGHT;
}

.rowColor {
  background-color: $ATHENS_GRAY_LIGHT;
}
