@use 'color';
@use 'icons';
@use 'fixed-data-table-custom' as *;

.tableWrapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  @extend %fixed-data-table-custom;
  user-select: text;
}

.table {
  background: transparent;
  font-size: 13px;
  border: none;
}

.tableHeader {
  color: color.$SHUTTLE_GRAY;
  background-color: transparent;
  margin: 0px;
  border: none;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.tableCell {
  color: color.$SHUTTLE_GRAY;
  background-color: transparent;
  border: none;
  border-right: 1px solid color.$ATHENS_GRAY_DARK;
  border-bottom: 1px solid color.$ATHENS_GRAY_DARK;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.tableCellContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.headerColor {
  background-color: color.$ATHENS_GRAY_LIGHT;
}

.rowColor {
  background-color: color.$ATHENS_GRAY_LIGHT;
}
