@use 'icons';

.icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  box-sizing: border-box;
  display: inline-block;
  background-repeat: no-repeat;
  flex-grow: 0;
}

.numberIcon {
  background-image: icons.$NUMBER_ICON;
}

.dateIcon {
  background-image: icons.$DATE_ICON;
}

.textIcon {
  background-image: icons.$TEXT_ICON;
}

.booleanIcon {
  background-image: icons.$BOOLEAN_ICON;
}
