.container {
  width: 100%;
  box-sizing: border-box; /* Include padding in width so we don't overflow */
  overflow: visible;
  padding: 4px;
}

.bannerWrapper {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}
