.sharedComponentsInputRadioButton {
  width: 28px;
  height: 28px;
  padding: 8px;

  &:hover {
    background-color: rgba(91, 99, 114, 0.1);
    border-radius: 50%;
  }
}

:global(.sis-scope .custom-radiobtn__text) {
  padding-left: 4px;
}

.disabled {
  pointer-events: none;

  :global(.custom-radiobtn__text) {
    color: rgba(91, 99, 114, 0.4);
  }
}
