// For colors that are not available in sisense-styleguide.
// Placeholder names from: https://chir.ag/projects/name-that-color

$ATHENS_GRAY: #f4f4f8;
$BLUE_RIBBON: #0765e3;
$DODGER_BLUE: #1eaff3;
$PORCELAIN: #e7e8ea;
$COLOR-TEXT: #5b6372;
$COLOR-TEXT-SECONDARY: #9ea2ab;
$MISCHKA: #dee1e7;
