.csdk-scattermap-tooltip-container {
  color: #5b6372;
  margin: 4px 6px;
}

.csdk-scattermap-tooltip-content {
  text-align: left;
}

.csdk-scattermap-tooltip-label {
  font-size: 15px;
  line-height: 18px;
}

.csdk-scattermap-tooltip-category {
  color: #9ea2ab;
  padding-right: 20px;
}

.csdk-scattermap-tooltip-row {
  display: flex;
  justify-content: space-between;
}
