.csdk-treemap-tooltip-wrapper {
  min-width: 210px;
  color: #acacac;
  font-size: 16px;
  line-height: 16px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-right: -1px;
  padding-bottom: 10px;
}

.csdk-treemap-tooltip-level {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 8px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;

  span {
    padding: 0 2px;
  }
}

.csdk-treemap-tooltip-value {
  padding: 10px 10px 0;
  font-size: 12px;
  line-height: 16px;
}
