@import '../styles//style_styleguide_react/variables';

@mixin component {
  position: relative;
  display: flex;
  align-items: center;
  // .component .icon conflicts with .sis-scope .app-icon on position
  .searchIcon.searchIcon {
    position: absolute;
    left: 8px;
    z-index: 1;
    opacity: 40%;
    &.large {
      top: 4px;
    }
  }
  .clearIcon.clearIcon {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 3px;
    right: 4px;
    border-radius: 20px;
    padding: 4px;
    &:hover {
      background-color: $color-gray-2;
    }
    &.clearIconHidden {
      display: none;
    }
    &.large {
      width: 15px;
      height: 15px;
      top: 4px;
      padding: 5px;
    }
  }
  .passwordVisibilityIcon.passwordVisibilityIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 8px;
    &.large {
      width: 24px;
      height: 24px;
      top: 5px;
    }
  }

  .customIcon {
    position: absolute;
    top: 3px;
    right: 4px;

    &.isLeft {
      right: 0;
      left: 8px;
    }
    &.large {
      top: 5px;
    }
  }

  .input {
    border-radius: 4px;
    outline: none;
    background: $color-gray-4;
    line-height: 28px;
    height: 28px;
    border: none;
    text-indent: 8px;
    width: 100%;
    &.withLeftIcon {
      text-indent: 32px;
    }
    &::placeholder {
      color: #b0b5bf;
    }
    &:focus {
      border: 1px solid $color-text;
    }
    &.large {
      height: 34px;
      line-height: 34px;
    }
    &::-ms-reveal {
      display: none;
    }
  }
}

.component {
  @include component;
}
:global(.sis-scope) .component {
  @include component;
}
